In [16]:
import numpy as np
import pandas as pd

In [17]:
!pwd

/mnt/HDD10TB-1/omi/test/video_training/make_txt

In [18]:
filename = '/mnt/NAS-TVS872XT/dataset/Kinetics/kinetics400/test.csv'

In [19]:
df = pd.read_csv(filename)

In [20]:
df

,label,youtube_id,time_start,time_end,split
0,drinking beer,--6bJUbfpnQ,17,27,test
1,climbing tree,--8YXc8iCt8,2,12,test
2,surfing water,--coBvtS-eQ,57,67,test
3,stomping grapes,--q6ElFyVq0,148,158,test
4,tai chi,--q_mvQ8zP8,67,77,test
...,...,...,...,...,...
35352,catching or throwing softball,zzHsdlYe_5I,11,21,test
35353,skiing (not slalom or crosscountry),zzl-3zkieiE,436,446,test
35354,jumping into pool,zzpqbqLllzA,1,11,test
35355,gargling,zzy_artj1B8,210,220,test
35356,juggling fire,zzzkS3amkWE,124,134,test

In [21]:
print(len(df.index))

35357

In [22]:
print("{0}/{1}_{2:06d}_{3:06d}.mp4".format(
    df.iloc[0].label,
    df.iloc[0].youtube_id,
    df.iloc[0].time_start,
    df.iloc[0].time_end,
))

drinking beer/--6bJUbfpnQ_000017_000027.mp4

In [23]:
f = open('test.txt', 'w')
for i in range(len(df.index)):
    f.write("test/{0}/{1}_{2:06d}_{3:06d}.mp4\n".format(
        df.iloc[i].label,
        df.iloc[i].youtube_id,
        df.iloc[i].time_start,
        df.iloc[i].time_end,
    ))
f.close()