In [93]:
import numpy as np
import pandas as pd

In [94]:
!pwd

/mnt/HDD10TB-1/omi/test/video_training/make_txt

In [95]:
filename = '/mnt/NAS-TVS872XT/dataset/Kinetics/kinetics400/test.csv'

In [96]:
df_origin = pd.read_csv(filename)

In [97]:
df_origin

,label,youtube_id,time_start,time_end,split
0,drinking beer,--6bJUbfpnQ,17,27,test
1,climbing tree,--8YXc8iCt8,2,12,test
2,surfing water,--coBvtS-eQ,57,67,test
3,stomping grapes,--q6ElFyVq0,148,158,test
4,tai chi,--q_mvQ8zP8,67,77,test
...,...,...,...,...,...
35352,catching or throwing softball,zzHsdlYe_5I,11,21,test
35353,skiing (not slalom or crosscountry),zzl-3zkieiE,436,446,test
35354,jumping into pool,zzpqbqLllzA,1,11,test
35355,gargling,zzy_artj1B8,210,220,test
35356,juggling fire,zzzkS3amkWE,124,134,test

In [98]:
print(len(df_origin.index))

35357

In [99]:
df = df_origin.sort_values('label')
df

           label   youtube_id  time_start  time_end split
18819  abseiling  X-L7fQ74Axc          29        39  test
22222  abseiling  c1TCIopiFMc         132       142  test
33069  abseiling  vu6UXc6eDoc          49        59  test
22828  abseiling  d92YP3F1-6c          40        50  test
20427  abseiling  ZokeMiSV3ME          35        45  test
...          ...          ...         ...       ...   ...
32624      zumba  v7h5B1NnSkM          22        32  test
22741      zumba  d0OWRwhhYuE          19        29  test
7426       zumba  CbVQNEJA-jI          40        50  test
21290      zumba  aOA7YvFWLic         955       965  test
20146      zumba  ZNOC_joKQJs           4        14  test

[35357 rows x 5 columns]

In [100]:
label_list = []
for i in range(len(df.index)):
    if df.iloc[i].label not in label_list:
        label_list.append(df.iloc[i].label)

In [101]:
print(len(label_list))
print(label_list)

400
['abseiling', 'air drumming', 'answering questions', 'applauding', 'applying cream', 'archery', 'arm wrestling', 'arranging flowers', 'assembling computer', 'auctioning', 'baby waking up', 'baking cookies', 'balloon blowing', 'bandaging', 'barbequing', 'bartending', 'beatboxing', 'bee keeping', 'belly dancing', 'bench pressing', 'bending back', 'bending metal', 'biking through snow', 'blasting sand', 'blowing glass', 'blowing leaves', 'blowing nose', 'blowing out candles', 'bobsledding', 'bookbinding', 'bouncing on trampoline', 'bowling', 'braiding hair', 'breading or breadcrumbing', 'breakdancing', 'brush painting', 'brushing hair', 'brushing teeth', 'building cabinet', 'building shed', 'bungee jumping', 'busking', 'canoeing or kayaking', 'capoeira', 'carrying baby', 'cartwheeling', 'carving pumpkin', 'catching fish', 'catching or throwing baseball', 'catching or throwing frisbee', 'catching or throwing softball', 'celebrating', 'changing oil', 'changing wheel', 'checking tires', 'cheerleading', 'chopping wood', 'clapping', 'clay pottery making', 'clean and jerk', 'cleaning floor', 'cleaning gutters', 'cleaning pool', 'cleaning shoes', 'cleaning toilet', 'cleaning windows', 'climbing a rope', 'climbing ladder', 'climbing tree', 'contact juggling', 'cooking chicken', 'cooking egg', 'cooking on campfire', 'cooking sausages', 'counting money', 'country line dancing', 'cracking neck', 'crawling baby', 'crossing river', 'crying', 'curling hair', 'cutting nails', 'cutting pineapple', 'cutting watermelon', 'dancing ballet', 'dancing charleston', 'dancing gangnam style', 'dancing macarena', 'deadlifting', 'decorating the christmas tree', 'digging', 'dining', 'disc golfing', 'diving cliff', 'dodgeball', 'doing aerobics', 'doing laundry', 'doing nails', 'drawing', 'dribbling basketball', 'drinking', 'drinking beer', 'drinking shots', 'driving car', 'driving tractor', 'drop kicking', 'drumming fingers', 'dunking basketball', 'dying hair', 'eating burger', 'eating cake', 'eating carrots', 'eating chips', 'eating doughnuts', 'eating hotdog', 'eating ice cream', 'eating spaghetti', 'eating watermelon', 'egg hunting', 'exercising arm', 'exercising with an exercise ball', 'extinguishing fire', 'faceplanting', 'feeding birds', 'feeding fish', 'feeding goats', 'filling eyebrows', 'finger snapping', 'fixing hair', 'flipping pancake', 'flying kite', 'folding clothes', 'folding napkins', 'folding paper', 'front raises', 'frying vegetables', 'garbage collecting', 'gargling', 'getting a haircut', 'getting a tattoo', 'giving or receiving award', 'golf chipping', 'golf driving', 'golf putting', 'grinding meat', 'grooming dog', 'grooming horse', 'gymnastics tumbling', 'hammer throw', 'headbanging', 'headbutting', 'high jump', 'high kick', 'hitting baseball', 'hockey stop', 'holding snake', 'hopscotch', 'hoverboarding', 'hugging', 'hula hooping', 'hurdling', 'hurling (sport)', 'ice climbing', 'ice fishing', 'ice skating', 'ironing', 'javelin throw', 'jetskiing', 'jogging', 'juggling balls', 'juggling fire', 'juggling soccer ball', 'jumping into pool', 'jumpstyle dancing', 'kicking field goal', 'kicking soccer ball', 'kissing', 'kitesurfing', 'knitting', 'krumping', 'laughing', 'laying bricks', 'long jump', 'lunge', 'making a cake', 'making a sandwich', 'making bed', 'making jewelry', 'making pizza', 'making snowman', 'making sushi', 'making tea', 'marching', 'massaging back', 'massaging feet', 'massaging legs', "massaging person's head", 'milking cow', 'mopping floor', 'motorcycling', 'moving furniture', 'mowing lawn', 'news anchoring', 'opening bottle', 'opening present', 'paragliding', 'parasailing', 'parkour', 'passing American football (in game)', 'passing American football (not in game)', 'peeling apples', 'peeling potatoes', 'petting animal (not cat)', 'petting cat', 'picking fruit', 'planting trees', 'plastering', 'playing accordion', 'playing badminton', 'playing bagpipes', 'playing basketball', 'playing bass guitar', 'playing cards', 'playing cello', 'playing chess', 'playing clarinet', 'playing controller', 'playing cricket', 'playing cymbals', 'playing didgeridoo', 'playing drums', 'playing flute', 'playing guitar', 'playing harmonica', 'playing harp', 'playing ice hockey', 'playing keyboard', 'playing kickball', 'playing monopoly', 'playing organ', 'playing paintball', 'playing piano', 'playing poker', 'playing recorder', 'playing saxophone', 'playing squash or racquetball', 'playing tennis', 'playing trombone', 'playing trumpet', 'playing ukulele', 'playing violin', 'playing volleyball', 'playing xylophone', 'pole vault', 'presenting weather forecast', 'pull ups', 'pumping fist', 'pumping gas', 'punching bag', 'punching person (boxing)', 'push up', 'pushing car', 'pushing cart', 'pushing wheelchair', 'reading book', 'reading newspaper', 'recording music', 'riding a bike', 'riding camel', 'riding elephant', 'riding mechanical bull', 'riding mountain bike', 'riding mule', 'riding or walking with horse', 'riding scooter', 'riding unicycle', 'ripping paper', 'robot dancing', 'rock climbing', 'rock scissors paper', 'roller skating', 'running on treadmill', 'sailing', 'salsa dancing', 'sanding floor', 'scrambling eggs', 'scuba diving', 'setting table', 'shaking hands', 'shaking head', 'sharpening knives', 'sharpening pencil', 'shaving head', 'shaving legs', 'shearing sheep', 'shining shoes', 'shooting basketball', 'shooting goal (soccer)', 'shot put', 'shoveling snow', 'shredding paper', 'shuffling cards', 'side kick', 'sign language interpreting', 'singing', 'situp', 'skateboarding', 'ski jumping', 'skiing (not slalom or crosscountry)', 'skiing crosscountry', 'skiing slalom', 'skipping rope', 'skydiving', 'slacklining', 'slapping', 'sled dog racing', 'smoking', 'smoking hookah', 'snatch weight lifting', 'sneezing', 'sniffing', 'snorkeling', 'snowboarding', 'snowkiting', 'snowmobiling', 'somersaulting', 'spinning poi', 'spray painting', 'spraying', 'springboard diving', 'squat', 'sticking tongue out', 'stomping grapes', 'stretching arm', 'stretching leg', 'strumming guitar', 'surfing crowd', 'surfing water', 'sweeping floor', 'swimming backstroke', 'swimming breast stroke', 'swimming butterfly stroke', 'swing dancing', 'swinging legs', 'swinging on something', 'sword fighting', 'tai chi', 'taking a shower', 'tango dancing', 'tap dancing', 'tapping guitar', 'tapping pen', 'tasting beer', 'tasting food', 'testifying', 'texting', 'throwing axe', 'throwing ball', 'throwing discus', 'tickling', 'tobogganing', 'tossing coin', 'tossing salad', 'training dog', 'trapezing', 'trimming or shaving beard', 'trimming trees', 'triple jump', 'tying bow tie', 'tying knot (not on a tie)', 'tying tie', 'unboxing', 'unloading truck', 'using computer', 'using remote controller (not gaming)', 'using segway', 'vault', 'waiting in line', 'walking the dog', 'washing dishes', 'washing feet', 'washing hair', 'washing hands', 'water skiing', 'water sliding', 'watering plants', 'waxing back', 'waxing chest', 'waxing eyebrows', 'waxing legs', 'weaving basket', 'welding', 'whistling', 'windsurfing', 'wrapping present', 'wrestling', 'writing', 'yawning', 'yoga', 'zumba']

In [103]:
df_origin["label_id"] =-1
for i in range(len(label_list)):
    df_origin.loc[df_origin["label"]==label_list[i], "label_id"] = i
df_origin

,label,youtube_id,time_start,time_end,split,label_id
0,drinking beer,--6bJUbfpnQ,17,27,test,101
1,climbing tree,--8YXc8iCt8,2,12,test,68
2,surfing water,--coBvtS-eQ,57,67,test,337
3,stomping grapes,--q6ElFyVq0,148,158,test,332
4,tai chi,--q_mvQ8zP8,67,77,test,346
...,...,...,...,...,...,...
35352,catching or throwing softball,zzHsdlYe_5I,11,21,test,50
35353,skiing (not slalom or crosscountry),zzl-3zkieiE,436,446,test,308
35354,jumping into pool,zzpqbqLllzA,1,11,test,172
35355,gargling,zzy_artj1B8,210,220,test,137
35356,juggling fire,zzzkS3amkWE,124,134,test,170

In [110]:
print("{0}_{1:06d}_{2:06d}.mp4, {3}".format(
    df_origin.iloc[0].youtube_id,
    df_origin.iloc[0].time_start,
    df_origin.iloc[0].time_end,
    df_origin.iloc[0].label_id
))

--6bJUbfpnQ_000017_000027.mp4, 101

In [109]:
f = open('test.txt', 'w')
for i in range(len(df.index)):
    f.write("{0}_{1:06d}_{2:06d}.mp4 {3}\n".format(
        df_origin.iloc[i].youtube_id,
        df_origin.iloc[i].time_start,
        df_origin.iloc[i].time_end,
        df_origin.iloc[i].label_id,
    ))
f.close()